kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    k8s-app: site
  name: site
  namespace: {{ .Release.Namespace | quote }}
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: site
  template:
    metadata:
      labels:
        k8s-app: site
    spec:
      volumes:
        - name: static
          hostPath:
            path: /code/volumes/mysite/static
        - name: media
          hostPath:
            path: /code/volumes/mysite/media
        - name: app
          hostPath:
            path: /code/volumes/mysite/app
      initContainers:
        - name: collectstatic
          image: jestenok/mysite:1.43 # {"$imagepolicy": "flux-system:mysite"}
          imagePullPolicy: Always
          command: [ "/bin/sh", "-c", "python3 manage.py collectstatic --noinput --clear" ]
          volumeMounts:
            - mountPath: /volumes/static
              name: static
      containers:
        - name: site
          image: jestenok/mysite:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: DOMAINNAME
              valueFrom:
                configMapKeyRef:
                  key: domainname
                  name: site
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  key: db_host
                  name: site
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  key: db_port
                  name: site
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-user
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-user
                  key: password
            - name: LOGIN
              valueFrom:
                secretKeyRef:
                  name: user
                  key: username
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user
                  key: password
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django
                  key: secret-key
            - name: DJANGO_SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user
                  key: password